SentoniClient/Service References/SentoniServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SentoniService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SentoniService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SentoniServiceLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISentoniService_HeartBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeat" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_HeartBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartBeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_GetAccountList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountList" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_GetAccountList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountListResponse" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_GetAccountSummaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountSummaries" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_GetPortfolio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolio" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_GetPortfolioSnapshot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolioSnapshot" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_GetBlotter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlotter" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_GetTradingSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradingSchedule" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_TakeSnapshot_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeSnapshot" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_SwitchQuoteFeed_InputMessage">
    <wsdl:part name="parameters" element="tns:SwitchQuoteFeed" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_PostAccountSummaries_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PostAccountSummaries" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_PostPortfolio_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PostPortfolio" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_PostBlotter_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PostBlotter" />
  </wsdl:message>
  <wsdl:message name="ISentoniService_PostTradingSchedule_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PostTradingSchedule" />
  </wsdl:message>
  <wsdl:portType name="ISentoniService">
    <wsdl:operation name="HeartBeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/HeartBeat" message="tns:ISentoniService_HeartBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISentoniService/HeartBeatResponse" message="tns:ISentoniService_HeartBeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/GetAccountList" message="tns:ISentoniService_GetAccountList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISentoniService/GetAccountListResponse" message="tns:ISentoniService_GetAccountList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountSummaries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/GetAccountSummaries" message="tns:ISentoniService_GetAccountSummaries_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPortfolio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/GetPortfolio" message="tns:ISentoniService_GetPortfolio_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPortfolioSnapshot">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/GetPortfolioSnapshot" message="tns:ISentoniService_GetPortfolioSnapshot_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlotter">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/GetBlotter" message="tns:ISentoniService_GetBlotter_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradingSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/GetTradingSchedule" message="tns:ISentoniService_GetTradingSchedule_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeSnapshot">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/TakeSnapshot" message="tns:ISentoniService_TakeSnapshot_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SwitchQuoteFeed">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentoniService/SwitchQuoteFeed" message="tns:ISentoniService_SwitchQuoteFeed_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostAccountSummaries">
      <wsdl:output wsaw:Action="http://tempuri.org/ISentoniService/PostAccountSummaries" message="tns:ISentoniService_PostAccountSummaries_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostPortfolio">
      <wsdl:output wsaw:Action="http://tempuri.org/ISentoniService/PostPortfolio" message="tns:ISentoniService_PostPortfolio_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostBlotter">
      <wsdl:output wsaw:Action="http://tempuri.org/ISentoniService/PostBlotter" message="tns:ISentoniService_PostBlotter_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostTradingSchedule">
      <wsdl:output wsaw:Action="http://tempuri.org/ISentoniService/PostTradingSchedule" message="tns:ISentoniService_PostTradingSchedule_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SentoniService" type="tns:ISentoniService">
    <wsp:PolicyReference URI="#SentoniService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="HeartBeat">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/HeartBeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountList">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/GetAccountList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountSummaries">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/GetAccountSummaries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPortfolio">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/GetPortfolio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPortfolioSnapshot">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/GetPortfolioSnapshot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetBlotter">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/GetBlotter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetTradingSchedule">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/GetTradingSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TakeSnapshot">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/TakeSnapshot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SwitchQuoteFeed">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/SwitchQuoteFeed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PostAccountSummaries">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/PostAccountSummaries" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostPortfolio">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/PostPortfolio" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostBlotter">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/PostBlotter" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTradingSchedule">
      <soap12:operation soapAction="http://tempuri.org/ISentoniService/PostTradingSchedule" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SentoniService">
    <wsdl:port name="SentoniService" binding="tns:SentoniService">
      <soap12:address location="net.tcp://localhost:20022/SentoniService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:20022/SentoniService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Phillip@GSI.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>